* {
    background-color: skyblue;
    font-family: Arial, serif;
    text-align: center;
    align-items: center;
}
h1 {
    margin-top: 0;
}
#wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#round {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
#maindiv {
    margin: auto;
    align-items: center;
    padding: 5px;
    border: 3px solid black;
    background-color: white;
}
#maindiv * {
    background-color: white;
}
#logdiv {
    margin: auto;
    align-items: center;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
}
#logdiv input {
    margin: auto;
    border: 1px solid black;
    width: 75%;
    padding: 5px;
    background-color: white;
}
#logdiv label {
    background-color: white;
}